Package: com.ajaidan.reachoptions
Name: ReachOptions
Version: 1.0.1
Architecture: iphoneos-arm
Description: A tweak to add options to reachability.
Maintainer: ajaidan0
Author: ajaidan0
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common, preferenceloader