Package: com.ajaidan.reachoptions
Name: ReachOptions
Version: 0.0.1
Architecture: iphoneos-arm
Description: A tweak to remove table separators from iOS.
Maintainer: ajaidan0
Author: ajaidan0
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
